{% extends 'base.html.twig' %}

{# 
{% form_theme form _self %}
{% use 'bootstrap_3_layout.html.twig' with form_row as base_form_row %}

{% block form_row -%}
    <div class="col-md-6">
        {{ block('base_form_row') }}
    </div>
{%- endblock form_row %} #}


{% block body %}
    <h1>Questions générales</h1>
    {{form_errors(form)}}
    {{ form_start(form) }}
        <div class="row">
            <div class="col-md-12">
                {{ form_row(form.age, {'label':'Quel âge avez-vous ?'} ) }}
            </div>
            <div class="col-md-12">
                {{ form_row(form.gender, {'label':'Sexe'} ) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{ form_row(form.specialty, {'label':'Quelle est votre spécialité médicale ?'} ) }}
            </div>
            <div class="col-md-12">
                {{ form_row(form.thesisDate, {'label':'Depuis combien d’années environ pratiquez-vous la médecine (sans compter les années d’internat) ?'} ) }}
            </div>
        </div>
        {{ form_row(form.cumulPercent, {'label':'Quel est le pourcentage approximatif de patients avec un cumul d’antithrombotiques (antiagrégants et/ou anticoagulants) dans votre patientèle ?'} ) }}
        {{ form_row(form.atEase, {'label':'Vous sentez-vous à l’aise avec la prescription d’un cumul d’antithrombotiques (antiagrégants et/ou anticoagulants) ?'} ) }}
        {{ form_row(form.whereToReco, {'label':'Lorsque vous avez un doute sur une prescription de cumul antithrombotique en consultation, avez-vous facilement accès à la recommandation correspondant à la situation de votre patient ?'} ) }}

        {{ form_widget(form.save, {'label':'Continuer', 'attr':{'class':'btn btn-primary'}}) }}
    {{ form_end(form) }}
{% endblock %}
